@import url("https://fonts.googleapis.com/css?family-Poppins:ght 200 ; 300; 400; 500; 600; 700&display=wap");
*{
    margin: 0;
    padding: 8;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body{

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f7f7f7
}